* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}
/* ===== BODY ===== */
body {
  background-color: #00142a;
  display: flex;
  flex-direction: column; /* empilha logo e container */
  justify-content: center;
  align-items: center;
 }




/* ===== CONTAINER ===== */
.container {

      background-color: #626262;
  width: 100%;
  max-width: 800px;     /* largura máxima */
  padding: 40px 50px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: white
}

/* ===== FORM ===== */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Campos que ocupam linha inteira */
.nome,
.sobrenome,
.login {
  grid-column: 1 / span 2;
}

/* ===== LABEL ===== */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 14px;
  color: white;
}

/* ===== INPUTS ===== */
input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  outline: none;
}

/* ===== BOTÃO DE CADASTRAR ===== */
.login {
  background-color: #242424;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  transition: background 0.3s;
  display: block;
  width: 60%;
  justify-self: center; /* centraliza no grid */
}

.login:hover {
  background-color: #003d80; /* azul mais claro */
}

/* ===== BOTÃO DE VOLTAR ===== */
.back-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  display: grid;
  place-items: center;
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 12px;
  background-color: red;
  box-shadow: 0 4px 10px rgba(11,120,209,0.15);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 6px;
}

.back-btn svg {
  width: 22px;
  height: 22px;
  fill: white;
}

.back-btn:hover {
  background-color: #b60000;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(11,120,209,0.25);
}
