/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 de nov. de 2025, 00:09:22
    Author     : Bruno
*/
*{  font-family: "Segoe UI", Arial, sans-serif;
}

*{  font-family: "Segoe UI", Arial, sans-serif;
}

/* ===== SIDEBAR ===== */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  background-color: #00142a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.3);
}

/* ===== LOGO ===== */
 .logo {
  text-align: center;
  width: 400px;
  height: auto;

}

.sidebar .logo img {
  width: 80px;
  margin-bottom: 10px;
}

.sidebar .logo h2 {
  font-size: 20px;
  color: black;
}

/* ===== MENU ===== */
.sidebar .menu {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  width: 100%;
}

.sidebar .menu li {
  width: 100%;
}

.sidebar .menu li a {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.sidebar .menu li a i {
  margin-right: 10px;
}

.sidebar .menu li a:hover {
  background-color: #003d80;
  padding-left: 25px;
}

/* ===== MAIN CONTENT ===== */
.main-content {
  margin-left: 250px; /* dá espaço pro conteúdo não ficar atrás da sidebar */
  padding: 30px;

}

.main-content h3 {
  font-weight: bold;
}


.usuario{
    margin-top:  350px;
}

.forms{
    margin-top: 30px;
    
}

button{
    margin-top:20px;
}

.titulo{
    margin-bottom: 30px;
    
}

.back-btn {
  float: right;
  top: 20px;
  left: 20px;
  z-index: 1000;
  display: grid;
  place-items: center;
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 12px;
  background-color: red;
  box-shadow: 0 4px 10px rgba(11,120,209,0.15);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 6px;
}

.back-btn svg {
  width: 22px;
  height: 22px;
  fill: white;
}

.back-btn:hover {
  background-color: #b60000;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(11,120,209,0.25);
}
